<li class="header">MENU</li>
<li>
    <a href="/">
        <i class="fa fa-home"></i>
        <span>Home</span>
    </a>
</li>
<li>
    <a href="produtos">
        <i class="fa fa-th"></i>
        <span>Produtos</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-folder"></i>
        <span>Clientes</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="clientes">
                <i class="fa fa-circle-o"></i> Consultar</a>
        </li>
        <li>
            <a href="clientes/novo">
                <i class="fa fa-circle-o"></i> Cadastro</a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-folder"></i>
        <span>DAVs</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="davs">
                <i class="fa fa-circle-o"></i> Consultar</a>
        </li>
        <li>
            <a href="davs/novo">
                <i class="fa fa-circle-o"></i> Cadastro</a>
        </li>
    </ul>
</li>
<li class="header">LABELS</li>
<li>
    <a href="#">
        <i class="fa fa-circle-o text-red"></i>
        <span>Importante</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-circle-o text-yellow"></i>
        <span>Aviso</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-circle-o text-aqua"></i>
        <span>Informativo</span>
    </a>
</li>